# -------------------------
# Python Virtual Environment
# -------------------------
venv/

# -------------------------
# Python Cache
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# VS Code Settings
# -------------------------
.vscode/

# -------------------------
# Log Files
# -------------------------
*.log

data/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db